<article id="{{ id }}" data-comp="Album" class="relative bg-cover w-96 aspect-square" style="background-image: url({{ image }});">
    <hgroup class="bg-zinc-900 bg-opacity-60 text-zinc-50 p-2 absolute bottom-0 left-0 right-0">
    <h1 class="font-extralight text-2xl">{{ artist }}</h1>
    <h2 class="text-lg my-0">{{ album }}</h2>
    </hgroup>
</article>